@charset UTF-8;

/*==============================Layout=====================================*/
html, body, .capa {
    height: 100%;
}

body {
    background: url("imagens/capa.png"),
                url("imagens/ruido.png"),
                linear-gradient(50deg, #ff4169, #7c26f8);/* Dessa forma podemos inserir mais de um background em sobreposição
                a primeira fica em primeiro plano seguindo uma hierarquia e assim sucessivamente */
                background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

/*============ Barra de navegação ===============*/
.img-log {
    height: 40px;
    width: 132px;
    display: block;
    background: url('imagens/spotify.svg') no-repeat;
    background-size: contain;  
    color: transparent;  
}

nav.navbar-transparente {
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;    
}

.navbar-brand {
    padding: 0;
    padding: 5px 15px;
}

.divisor {
    width: 1px;
    height: 16px;
    background: white;
    margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a, footer .nav a {
    color: white;
}/* Usar o > como acima indica que queremos estilizar apenas o elemeto que é filho direto do elemento que vem
antes do símbolo, assim filhos não diretos não receberão a estilização */
.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
    color: #9bf0e1;
    background: none;
}/* O hover, link... são pseudo classes, classes pre definidas usadas com o : invés do . */

/*============ Imagem de capa ===============*/
.capa {
    display: table;
    width: 100%;
}

.texto-capa {
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

/*============ Botões ===============*/
.btn-custom {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    padding: 10px 35px;
    margin: 0 15px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
}

.btn-roxo {
    background: #7c25f8;
}

.btn-roxo:hover {
    background: #6207e3;
    color: white;
}

.btn-branco {
    border: 2px solid white;
}

.btn-branco:hover {
    background-color: white;
    color: black;
}

/*============ seção serviço ===============*/
#servicos {
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.albuns {
    padding: 10px 0 10px 0;
}

/*============ recursos ===============*/
#recursos {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.rotacionar {
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    padding-left: 80px;
}

/*============ Barra de navegação ===============*/
footer {
    background: #000;
    padding: 50px 0 20px 0;
    position: relative;
}

.item-rede-social {
    float: right;
}

/* ==================================== Tipografía =========================== */
h1 {
    font-size: 100px;
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

#rodape h4 {
    color: #919496;
    font-size: 20px;
    text-transform: uppercase;
}

#servicos h2, #servicos h3 {
    color: #7c25f8;
}

#recursos h3 {
    color: #9bf0e1;
}